<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.2.2/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap-5.2.2/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stats.css') }}" />
    <title id="login__title">Login Admin</title>
    <script src="{{ url_for('static', filename='js/chart/chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    <script src="{{ url_for('static', filename='js/admin.js') }}"></script>
</head>
<body>
    <header id="login__header">
        <div id="login__header-div">
            <img id="login__logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
        </div>
    </header>
    <header id="admin__header">
        <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img id="admin__logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-5 mb-2 mb-lg-0">
                        <li class="nav-item">
                            <button id="admin__button-catalogo" class="btn btn-outline-light mx-4" aria-current="page">Catálogo</button>
                        </li>
                        <li class="nav-item">
                            <button id="admin__button-estadisticas" class="btn btn-outline-light mx-4" aria-current="page">Estadísticas</button>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main id="login__main">
        <div id="login__div">
            <h2>Login</h2>
            <form>
                <div class="mb-3">
                    <div id="email-required" class="text-danger">Requerido</div>
                    <label for="login__email-input" class="form-label">Email</label>
                    <input type="email" class="form-control" id="login__email-input" aria-describedby="emailHelp" required>
                    <div id="emailHelp" class="form-text">Nunca compartiremos tu email con nadie más.</div>
                </div>
                <div class="mb-3">
                    <div id="pass-required" class="text-danger">Requerido</div>
                    <label for="login__pass-input" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="login__pass-input" required>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="login__remember-user">
                    <label class="form-check-label" for="login__remember-user">Recordar usuario</label>
                </div>
                <button type="submit" class="btn btn-primary" id="login__button-submit">Entrar</button> 
            </form>
        </div>
    </main>
    <main id="admin__main">
        <div id="admin__div">
            <h2 id="admin__hello">Hola, {usuario}</h2>

            <!-- Catálogo -->
            <h4 class="mt-4">Catálogo</h4>
            <ul id="admin__catalog-list" class="list-group">

            </ul>

            <!-- Button trigger Form -->
            <button type="button" class="btn btn-success mt-3" data-bs-toggle="modal" data-bs-target="#formModal">Agregar</button>
            <!-- Form -->
            <div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="formModalLabel">Agregar Producto</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <div id="admin__form-name-required" class="text-danger" hidden>Requerido</div>
                                <label for="admin__form-input-name" class="form-label">Nombre</label>
                                <input type="text" class="form-control" id="admin__form-input-name" placeholder="Producto 1" aria-describedby="emailHelp" required>
                            </div>
                            <div class="mb-3">
                                <div id="admin__form-desc-required" class="text-danger" hidden>Requerido</div>
                                <label for="admin__form-input-desc" class="form-label">Descripción</label>
                                <input type="text" class="form-control" id="admin__form-input-desc" placeholder="Producto Glorioso" required>
                            </div>
                            <div class="mb-3">
                                <div id="admin__form-price-required" class="text-danger" hidden>Requerido</div>
                                <label for="admin__form-input-price" class="form-label">Precio</label>
                                <input type="number" class="form-control" id="admin__form-input-price" placeholder="14.00" required>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" id="admin__form-add-button">Agregar</button>
                    </div>
                </div>
                </div>
            </div>

            <!-- Usuarios -->
            <h4 class="mt-4">Usuarios</h4>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-10">
                            An item
                        </div>
                        <div class="col-1">
                            <button class="btn btn-primary mx-2">Editar</button>
                        </div>
                        <div class="col-1">
                            <button class="btn btn-danger mx-2">Borrar</button>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-10">
                            An item
                        </div>
                        <div class="col-1">
                            <button class="btn btn-primary mx-2">Editar</button>
                        </div>
                        <div class="col-1">
                            <button class="btn btn-danger mx-2">Borrar</button>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-10">
                            An item
                        </div>
                        <div class="col-1">
                            <button class="btn btn-primary mx-2">Editar</button>
                        </div>
                        <div class="col-1">
                            <button class="btn btn-danger mx-2">Borrar</button>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-10">
                            An item
                        </div>
                        <div class="col-1">
                            <button class="btn btn-primary mx-2">Editar</button>
                        </div>
                        <div class="col-1">
                            <button class="btn btn-danger mx-2">Borrar</button>
                        </div>
                    </div>
                </li>
            </ul>
            <button class="btn btn-success mt-3">Agregar</button>
        </div>
    </main>
    <main id="admin__stats">
        <div>
            <h2>Hola, {usuario}</h2>
            <h4 class="mt-4">Stats</h4>
            <label for="type"></label>
            <select name="type" id="type">
                <option value="0">-- type --</option>
                <option value="General">General</option>
                <option value="Host">Host</option>
            </select>
            <select name="methric" id="methric">
                <option value="0">-- methric --</option>
                <option value="year">year</option>
                <option value="month">month</option>
                <option value="day">day</option>
            </select>
            <!-- Year -->
            <input type="number">
            <select name="month" id="month">
                <option value="0">-- month --</option>
                <option value="january">january</option>
                <option value="february">february</option>
                <option value="march">march</option>
                <option value="april">april</option>
                <option value="may">may</option>
                <option value="june">june</option>
                <option value="july">july</option>
                <option value="august">august</option>
                <option value="september">september</option>
                <option value="october">october</option>
                <option value="november">november</option>
                <option value="december">december</option>
            </select>
            <select name="day" id="day">
                <option value="0">-- day --</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
                <option value="24">24</option>
                <option value="25">25</option>
                <option value="26">26</option>
                <option value="27">27</option>
                <option value="28">28</option>
                <option value="29">29</option>
                <option value="30">30</option>
                <option value="31">31</option>
            </select>
            <button type="button" id="admin__stats-btn-show-chart">Show Chart</button>
            <!-- <select name="" id="">
                <option value=""></option>
            </select> -->
            <div class="w-50 mh-25 mx-auto mt-5">
                <canvas id="myChart" width="400" height="100"></canvas>
            </div>
        </div>
    </main>
    <footer>
        <div id="login__footer__div">
            Desarrollado por Basa2 Team :).
        </div>
    </footer>
</body>
</html>
