<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.2.2/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap-5.2.2/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
    {% block style %}  {% endblock %}
    <title>{% block title %}  {% endblock %}</title>
    {% block javascript %}  {% endblock %}
</head>

<body>
    <header>
        <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img id="index__logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-5 mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-white" aria-current="page" href="/home">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/stats">Estadísticas</a>
                        </li>
                        <li class="nav-item dropdown me-5">
                            <a class="nav-link text-white dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Perfil
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/config">Configuraciones</a></li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/admin">Cerrar Sesión</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    {% block content %}
            
    {% endblock %}
    <footer>
        <div id="index__footer__div">
            Desarrollado por Basa2 Team :).
        </div>
    </footer>
</body>

</html>