<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.2.2/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap-5.2.2/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}" />
    <title>Registro Admin</title>
    {% block javascript %} <script src="{{ url_for('static', filename='js/register.js') }}"></script> {% endblock %}
</head>
<body>
    <header>
        <div id="register__header">
            <img id="register__logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo">
        </div>
    </header>
    <main id="register__main">
        <div id="register__div">
            <h2>Registro</h2>
            <form>
                <div class="mb-3">
                    <label for="register__name-input" class="form-label">Nombre</label>
                    <input type="text" class="form-control" id="register__name-input" aria-describedby="emailHelp" required>
                </div>
                <div class="mb-3">
                    <label for="register__email-input" class="form-label">Email</label>
                    <input type="email" class="form-control" id="register__email-input" aria-describedby="emailHelp" required>
                    <div id="emailHelp" class="form-text">Nunca compartiremos tu email con nadie más.</div>
                </div>
                <div class="mb-3">
                    <label for="register__pass-input" class="form-label">Contraseña</label>
                    <input type="password" class="form-control" id="register__pass-input" required maxlength="10">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="remember-user">
                    <label class="form-check-label" for="remember-user">Recordar usuario</label>
                </div>
                <button type="submit" class="btn btn-primary" id="register__button-submit">Entrar</button> 
                <br>
                <div>Ya tenes una cuenta? <a href="/admin">Ingresa ahora</a></div>
                <a href="/home">Home</a>
            </form>
        </div>
    </main>
    <footer>
        <div id="register__footer__div">
            Desarrollado por Basa2 Team :).
        </div>
    </footer>
</body>
</html>
